-- MySQL dump 10.13  Distrib 8.0.37, for Win64 (x86_64)
--
-- Host: localhost    Database: toll management system
-- ------------------------------------------------------
-- Server version	8.0.37

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `debt`
--

DROP TABLE IF EXISTS `debt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `debt` (
  `Debt_ID` int NOT NULL AUTO_INCREMENT,
  `Operator_ID_1` varchar(255) DEFAULT NULL,
  `Operator_ID_2` varchar(255) DEFAULT NULL,
  `Nominal_Debt` decimal(10,2) DEFAULT NULL,
  `Date` date NOT NULL,
  `Status` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`Debt_ID`),
  KEY `Operator_ID_1` (`Operator_ID_1`),
  KEY `Operator_ID_2` (`Operator_ID_2`),
  CONSTRAINT `debt_ibfk_1` FOREIGN KEY (`Operator_ID_1`) REFERENCES `toll_operator` (`OpID`),
  CONSTRAINT `debt_ibfk_2` FOREIGN KEY (`Operator_ID_2`) REFERENCES `toll_operator` (`OpID`)
) ENGINE=InnoDB AUTO_INCREMENT=241 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `debt`
--

LOCK TABLES `debt` WRITE;
/*!40000 ALTER TABLE `debt` DISABLE KEYS */;
/*!40000 ALTER TABLE `debt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pass`
--

DROP TABLE IF EXISTS `pass`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pass` (
  `passID` int NOT NULL AUTO_INCREMENT,
  `tag_ID` int DEFAULT NULL,
  `timestamp` datetime NOT NULL,
  `charge` decimal(10,2) NOT NULL,
  `TollID` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`passID`),
  KEY `TollID` (`TollID`),
  KEY `tag_ID` (`tag_ID`,`timestamp`),
  KEY `passID` (`passID`,`charge`),
  KEY `timestamp` (`timestamp`),
  CONSTRAINT `pass_ibfk_1` FOREIGN KEY (`tag_ID`) REFERENCES `tag` (`tag_ID`),
  CONSTRAINT `pass_ibfk_2` FOREIGN KEY (`TollID`) REFERENCES `toll_station` (`TollID`)
) ENGINE=InnoDB AUTO_INCREMENT=1001 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pass`
--

LOCK TABLES `pass` WRITE;
/*!40000 ALTER TABLE `pass` DISABLE KEYS */;
/*!40000 ALTER TABLE `pass` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settlement`
--

DROP TABLE IF EXISTS `settlement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settlement` (
  `Settlement_ID` int NOT NULL AUTO_INCREMENT,
  `Operator_ID_1` varchar(255) DEFAULT NULL,
  `Operator_ID_2` varchar(255) DEFAULT NULL,
  `Amount` decimal(10,2) DEFAULT NULL,
  `Date` date NOT NULL,
  PRIMARY KEY (`Settlement_ID`),
  KEY `Operator_ID_1` (`Operator_ID_1`),
  KEY `Operator_ID_2` (`Operator_ID_2`),
  CONSTRAINT `settlement_ibfk_1` FOREIGN KEY (`Operator_ID_1`) REFERENCES `toll_operator` (`OpID`),
  CONSTRAINT `settlement_ibfk_2` FOREIGN KEY (`Operator_ID_2`) REFERENCES `toll_operator` (`OpID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settlement`
--

LOCK TABLES `settlement` WRITE;
/*!40000 ALTER TABLE `settlement` DISABLE KEYS */;
/*!40000 ALTER TABLE `settlement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tag`
--

DROP TABLE IF EXISTS `tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tag` (
  `tag_ID` int NOT NULL AUTO_INCREMENT,
  `tagRef` varchar(255) NOT NULL,
  `OpID` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`tag_ID`),
  KEY `Toll_OperatorOpID` (`OpID`),
  CONSTRAINT `tag_ibfk_1` FOREIGN KEY (`OpID`) REFERENCES `toll_operator` (`OpID`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tag`
--

LOCK TABLES `tag` WRITE;
/*!40000 ALTER TABLE `tag` DISABLE KEYS */;
/*!40000 ALTER TABLE `tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `toll_operator`
--

DROP TABLE IF EXISTS `toll_operator`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `toll_operator` (
  `OpID` varchar(255) NOT NULL,
  `Name` varchar(255) NOT NULL,
  `Email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`OpID`),
  UNIQUE KEY `Email` (`Email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `toll_operator`
--

LOCK TABLES `toll_operator` WRITE;
/*!40000 ALTER TABLE `toll_operator` DISABLE KEYS */;
/*!40000 ALTER TABLE `toll_operator` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `toll_station`
--

DROP TABLE IF EXISTS `toll_station`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `toll_station` (
  `TollID` varchar(255) NOT NULL,
  `OpID` varchar(255) DEFAULT NULL,
  `Name` varchar(255) NOT NULL,
  `Locality` varchar(255) DEFAULT NULL,
  `Road` varchar(255) DEFAULT NULL,
  `Lat` decimal(9,6) DEFAULT NULL,
  `Long` decimal(9,6) DEFAULT NULL,
  `PM` varchar(10) DEFAULT NULL,
  `Price1` decimal(10,2) DEFAULT NULL,
  `Price2` decimal(10,2) DEFAULT NULL,
  `Price3` decimal(10,2) DEFAULT NULL,
  `Price4` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`TollID`),
  KEY `Toll_OperatorOpID` (`OpID`),
  CONSTRAINT `toll_station_ibfk_1` FOREIGN KEY (`OpID`) REFERENCES `toll_operator` (`OpID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `toll_station`
--

LOCK TABLES `toll_station` WRITE;
/*!40000 ALTER TABLE `toll_station` DISABLE KEYS */;
/*!40000 ALTER TABLE `toll_station` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-02-13  0:45:48
