<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css">
</head>
<body>
    <!-- Τίτλος -->
    <div class="header-container">
        <h1>TOLLIS</h1>
    </div>
    
    <!-- Κουμπιά πλοήγησης -->
    <div class="button-container">
        <a href="payments.html" class="nav-button">
            Πληρωμές <span class="arrow">➔</span>
        </a>
        <a href="map.html" class="nav-button">
            Χάρτης <span class="arrow">➔</span>
        </a>
        <a href="statistics.html" class="nav-button">
            Στατιστικά <span class="arrow">➔</span>
        </a>
    </div>
</body>
</html>






