<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <!-- Τίτλος Εφαρμογής -->
    <h1 class="app-title">TOLLIS</h1>

    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="Messages">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    <!-- Κεντρικό Container -->
    <div class="container">
        <form action="/" method="POST">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" id="login-button">Σύνδεση</button>
        </form>
    </div>

    <!-- <script>
        // JavaScript για το redirect στο dashboard
        document.getElementById('login-button').addEventListener('click', () => {
            window.location.href = 'dashboard.html'; // Μεταβαίνει στη σελίδα dashboard
        });
    </script> -->
</body>
</html>














